
.margin {
    align-items: flex-start;
    color: #d3cbcb;
}

.app-heading {
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
    z-index: 1;
    opacity: 0;
}

.sub-heading {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    text-align: left;
    color: #86cfd9;
    z-index: 1;
    opacity: 0;
}
.car-container {
    position: relative;
}

.car {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.gradient-background-r {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    border-radius: 70%;
    background: radial-gradient(ellipse at center, rgb(62, 117, 176) 20%, rgba(4, 68, 126, 0) 70%);
    pointer-events: none;
    z-index: 0;
}

.gradient-background-l {
    position: absolute;
    left: 0;
    width: 100%;
    height: 40rem;
    border-radius: 70%;
    background: radial-gradient(ellipse at center, rgb(62, 117, 176, 0.40) 20%, rgba(4, 68, 126, 0) 70%);
    pointer-events: none;
    z-index: 0;
}


.grid {
    background-color: #194d7c;
}

.right-column {
    position: relative;
    margin-top: 10%;
}

.left-column{
    margin-left: 5rem;
    position: relative;
    margin-top: 25%;
}


.app-heading {
    opacity: 0;
    position: relative;
    bottom: -20px;
    animation: fadeInUp 1s ease-in-out forwards;
}
.sub-heading {
    opacity: 0;
    position: relative;
    bottom: -20px;
    animation: fadeInUp 2s ease-in-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        bottom: -10px;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}

.right-column-feature {
    margin-top: 35%;
}

.feature-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    z-index: 1;
    animation: fadeInUp 2s ease-in-out forwards;
}

.feature-description {
    font-size: 1rem;
    display: block;
    margin-top: 10px;
    text-align: left;
    z-index: 1;
    max-width: calc(100% - 10rem);
    flex-grow: 1;
}

.a-customization {
    margin-top: 50%;
    height: 30rem;
    width: 30rem;
    margin-left: 10%;
}

.left-column-feature {
    margin-top: 35%;
    margin-left: 10%;
}

.c-customization {
    margin-left: 10%;
    margin-top: 38%;
    height: 25rem;
    opacity: 0.96;
}

.MuiButton-root.sign-up-btn-body {
    margin-top: 0.5rem;
    background: linear-gradient(to right, #b214cb, #ec7f9f);
    border-radius: 17px !important;
    color: #efe4e4 !important;
    font-weight: bold;
}

.MuiButton-root.sign-up-btn-body:hover {
    background: linear-gradient(to right, #ec7f9f, #b214cb); /* Reverse gradient on hover */
}