.custom-dialog-content {
    background-color: #194d7c; /* Change background color as needed */
    padding: 20px;
    color: #d3cbcb;
}

/* DialogComp.css */

/* Styles for the dialog paper */
.custom-dialog-paper .MuiPaper-root {
    background-color: #194d7c; /* Background color of the dialog */
    color: #333; /* Font color */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: Arial, sans-serif;
}

.custom-dialog-content .MuiFormLabel-root {
    color: #d3cbcb;
}
.custom-dialog-content .MuiInputBase-input {
    color: #d3cbcb;
}