.custom-dialog-content {
    background-color: #194d7c; /* Change background color as needed */
    padding: 20px;
    color: #d3cbcb;
}

.custom-dialog-paper .MuiPaper-root {
    background-color: #194d7c;
    color: #333;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: Arial, sans-serif;
}

.custom-dialog-content .MuiFormLabel-root {
    color: #d3cbcb;
}
.custom-dialog-content .MuiInputBase-input {
    color: #d3cbcb;

}

.custom-dialog-content .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #d3cbcb;
    border-radius: 40px;

}