
.header {
    color: #d3cbcb;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}


.header nav ul li {
    display: inline;
    margin-right: 20px;
}

.header nav ul li:last-child {
    margin-right: 0;
}

.header nav ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.auth-links {
    flex-grow: 0.15;
    margin-left: auto;
}

.auth-links a {
    color: #d3cbcb;
    text-decoration: none;
    margin-left: 20px;
}

.auth-links button {
    margin-left: 20px;
    background-color: transparent;
    color: #d3cbcb;
    border: 1px solid #d3cbcb;
    border-radius: 2rem; /* Set border-radius to make the button round */
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    text-transform: none;
}

.auth-links button:hover {
    background-color: #d3cbcb;
    color: #333;
}

.MuiButton-root.sign-in-btn {
    border: none !important;
}


.MuiButton-root.left-header-btn {
    text-transform: none;
    font-size: 1.3rem;
    border-radius: 18px;
}


.left-nav-btns {
    flex-grow: 0.064;
    display: flex;
    justify-content: center;
}

.left-nav-btns button {
    alignment: center;
    color: #d3cbcb;

}

.left-nav-btns button:hover {
    color: #ffffff;
}

.logo {
    height: 3rem;
    width: 3.5rem;
}

.logo:hover {
    cursor: pointer;
}