
.header {
    background-color: #194d7c;
    color: #d3cbcb;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul li {
    display: inline;
    margin-right: 20px;
}

.header nav ul li:last-child {
    margin-right: 0;
}

.header nav ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.auth-links {
    flex-grow: 0.125;
}

.auth-links a {
    color: #d3cbcb;
    text-decoration: none;
    margin-left: 20px;
}

.auth-links button {
    margin-left: 20px;
    background-color: transparent;
    color: #d3cbcb;
    border: 1px solid #d3cbcb;
    border-radius: 2rem; /* Set border-radius to make the button round */
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    text-transform: none;
}

.auth-links button:hover {
    background-color: #d3cbcb;
    color: #333;
}

.MuiButton-root.sign-in-btn {
    border: none !important;
}

.left-nav-btns {
    flex-grow: 0.062;
    display: flex;
    justify-content: center;
}

.left-nav-btns button {
    alignment: center;
    color: #d3cbcb;
}

.left-nav-btns button:hover {
    color: #ffffff;
}

.logo {
    height: 3rem;
    width: 3.5rem;
}

.logo:hover {
    cursor: pointer;
}